In [2]:
import pandas as pd
import datetime as dt
import numpy as np
pd.options.display.max_columns = 35 
#para aumentar a quantidade de colunas a serem visualizadas

### Exercicios:

#### 1 - Carregar os arquivos de cadastro, investimento1 e investimento2, e mostrar a quantidade de linhas de cada um, além das informações desses dataframes (por exemplo, o tipo dos dados das coluna)

In [3]:
urls = ["https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/cadastro.csv",
        "https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/investimento_parte1.csv",
        "https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/investimento_parte2.csv"]

In [4]:
cadastro = pd.read_csv(urls[0])
#investimento1.shape[0]
cadastro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.7+ MB

In [5]:
investimento2 = pd.read_csv(urls[1])
investimento2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20000 non-null  object
 1   Salario  20000 non-null  object
 2   Perfil   20000 non-null  object
 3   Ativo01  15012 non-null  float64
 4   Ativo02  16857 non-null  float64
 5   Ativo03  16760 non-null  float64
 6   Ativo04  13799 non-null  float64
 7   Ativo05  16829 non-null  float64
 8   Ativo06  9895 non-null   float64
 9   Ativo07  20000 non-null  float64
 10  Nota1    18469 non-null  float64
 11  Nota2    18954 non-null  float64
dtypes: float64(9), object(3)
memory usage: 1.8+ MB

In [6]:
investimento3 = pd.read_csv(urls[2])
investimento3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24052 entries, 0 to 24051
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       24052 non-null  object
 1   Salario  24052 non-null  object
 2   Perfil   24052 non-null  object
 3   Ativo01  17994 non-null  float64
 4   Ativo02  20245 non-null  float64
 5   Ativo03  20249 non-null  float64
 6   Ativo04  16685 non-null  float64
 7   Ativo05  20211 non-null  float64
 8   Ativo06  11932 non-null  float64
 9   Ativo07  24052 non-null  float64
 10  Nota1    22172 non-null  float64
 11  Nota2    22810 non-null  float64
dtypes: float64(9), object(3)
memory usage: 2.2+ MB

#### 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

Criar um novo dataframe  
Dica: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [7]:
investimentoUmDois = pd.concat([investimento2, investimento3])
investimentoUmDois

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601
...,...,...,...,...,...,...,...,...,...,...,...,...
24047,id0018222,$615.87,Conservador,933.65,5741.80,4031.59,6336.84,NaN,NaN,486.19,NaN,34.151046
24048,id0005515,$212.76,Conservador,1624.80,NaN,2689.68,21886.01,4571.79,NaN,497.47,93.032164,93.621515
24049,id0009893,$9.32,Agressivo,829.20,NaN,3831.45,NaN,4784.34,2143.79,485.33,3.120521,9.086454
24050,id0016100,$81796.74,Conservador,1587.47,4881.66,4352.03,10391.18,4695.44,2465.65,492.84,95.665966,30.164927
24051,id0027880,$38480.37,Agressivo,996.90,5604.43,2801.04,9183.62,6220.96,NaN,503.24,55.035639,57.691996

#### 3 - Crie um novo dataframe eliminando as linhas duplicadas do item anterior

In [8]:
semDuplicata = investimentoUmDois.drop_duplicates()
semDuplicata

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601
...,...,...,...,...,...,...,...,...,...,...,...,...
24046,id0012328,$86268.66,Moderado,804.92,4520.13,3388.55,18396.16,NaN,NaN,504.90,97.685833,70.195608
24048,id0005515,$212.76,Conservador,1624.80,NaN,2689.68,21886.01,4571.79,NaN,497.47,93.032164,93.621515
24049,id0009893,$9.32,Agressivo,829.20,NaN,3831.45,NaN,4784.34,2143.79,485.33,3.120521,9.086454
24050,id0016100,$81796.74,Conservador,1587.47,4881.66,4352.03,10391.18,4695.44,2465.65,492.84,95.665966,30.164927
24051,id0027880,$38480.37,Agressivo,996.90,5604.43,2801.04,9183.62,6220.96,NaN,503.24,55.035639,57.691996

#### 4 - Junte o dataframe de investimento com o de cadastro, criando um novo dataframe
Dica: use a coluna id como chave para juntar os dois dataframes

In [9]:
cadastroInvestimento = cadastro.merge(semDuplicata)
cadastroInvestimento

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,NaN,8454.99,NaN,2191.78,489.76,66.644257,6.462871
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.139610,22.742974
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.385080,56.611838
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.660050,47.371606

#### 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [10]:
cadastroInvestimento.reset_index()

,index,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,NaN,8454.99,NaN,2191.78,489.76,66.644257,6.462871
38750,38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030
38751,38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.139610,22.742974
38752,38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.385080,56.611838
38753,38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.660050,47.371606

#### 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [11]:
cadastroInvestimento.isna().sum()

id              0
Nome            0
Sexo            0
Nasc            0
Idade           0
Email           0
Lat_long        0
Job             0
Estado          0
Salario         0
Perfil          0
Ativo01      9724
Ativo02      6100
Ativo03      6169
Ativo04     11887
Ativo05      6191
Ativo06     19514
Ativo07         0
Nota1        3000
Nota2        2000
dtype: int64

In [12]:
cadastroInvestimento.isna().sum() / len(cadastroInvestimento) * 100

id           0.000000
Nome         0.000000
Sexo         0.000000
Nasc         0.000000
Idade        0.000000
Email        0.000000
Lat_long     0.000000
Job          0.000000
Estado       0.000000
Salario      0.000000
Perfil       0.000000
Ativo01     25.091603
Ativo02     15.740311
Ativo03     15.918357
Ativo04     30.672963
Ativo05     15.975125
Ativo06     50.353512
Ativo07      0.000000
Nota1        7.741136
Nota2        5.160758
dtype: float64

In [13]:
cadastroFiltrado = cadastroInvestimento.fillna(0)
cadastroFiltrado.isna().sum()

id          0
Nome        0
Sexo        0
Nasc        0
Idade       0
Email       0
Lat_long    0
Job         0
Estado      0
Salario     0
Perfil      0
Ativo01     0
Ativo02     0
Ativo03     0
Ativo04     0
Ativo05     0
Ativo06     0
Ativo07     0
Nota1       0
Nota2       0
dtype: int64

#### 7 - Manipule os dados a seguir:
1) Criar coluna "Total" somando o valor de todos os ativos por investidor
2) Criar coluna "Media" com a média das notas 1 e 2
3) Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
4) Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
5) Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar a função map)
6) Transformar os dados da coluna Media em inteiro
7) Criar coluna "NPS" onde o investidor é classificado como promotor se a média das notas é maior ou igual a 80, como neutro se a média estiver entre 50 e 80, e como detrator se for abaixo de 50

In [14]:
#1
cadastroFiltrado['Total'] = cadastroFiltrado[['Ativo01', 'Ativo02', 'Ativo03', 'Ativo04', 'Ativo05', 'Ativo06', 'Ativo07']].sum(axis=1)
cadastroFiltrado

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28

In [15]:
#2
cadastroFiltrado['Media'] = cadastroFiltrado[['Nota1', 'Nota2']].mean(axis=1)
cadastroFiltrado

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.701496
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.459882
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.540483
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.073421
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.014800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36.553564
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84.660162
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27.441292
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77.498459
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38.515828

In [16]:
#3
lista = cadastroFiltrado['Email'].str.split(pat="@")

cadastroFiltrado['Dominio'] = [array[:][1]for array in lista]
cadastroFiltrado

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.701496,yahoo.com
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.459882,yahoo.com
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.540483,yahoo.com
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.073421,hotmail.com
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.014800,yahoo.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36.553564,gmail.com
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84.660162,hotmail.com
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27.441292,yahoo.com
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77.498459,gmail.com
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38.515828,hotmail.com

In [17]:
#4
cadastroFiltrado.rename(columns={'Renda': 'Salario'}, inplace=True)
cadastroFiltrado['Salario'] = cadastroFiltrado['Salario'].str.replace('$', '')
cadastroFiltrado['Salario'] = cadastroFiltrado['Salario'].astype(float)
cadastroFiltrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
 9   Salario   38754 non-null  float64
 10  Perfil    38754 non-null  object
 11  Ativo01   38754 non-null  float64
 12  Ativo02   38754 non-null  float64
 13  Ativo03   38754 non-null  float64
 14  Ativo04   38754 non-null  float64
 15  Ativo05   38754 non-null  float64
 16  Ativo06   38754 non-null  float64
 17  Ativo07   38754 non-null  float64
 18  Nota1     38754 non-null  float64
 19  Nota2     38754 non-null  float64
 20  Total     38754 non-null  float64
 21  Media     38754 non-null  float64
 22  Dominio   38754 non-null  object
dtypes: float64(12), int64(1), object(10)
memory usage: 6.8+ MB

In [18]:
#5
cadastroFiltrado['Sexo'] = cadastroFiltrado['Sexo'].str.lower()
cadastroFiltrado['Sexo'] = cadastroFiltrado['Sexo'].map({'fem': 'Feminino','masc': 'Masculino'})
cadastroFiltrado

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.701496,yahoo.com
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.459882,yahoo.com
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.540483,yahoo.com
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.073421,hotmail.com
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.014800,yahoo.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36.553564,gmail.com
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84.660162,hotmail.com
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27.441292,yahoo.com
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77.498459,gmail.com
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38.515828,hotmail.com

In [19]:
#6
cadastroFiltrado['Media'] = cadastroFiltrado['Media'].round(0).astype(int)
cadastroFiltrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
 9   Salario   38754 non-null  float64
 10  Perfil    38754 non-null  object
 11  Ativo01   38754 non-null  float64
 12  Ativo02   38754 non-null  float64
 13  Ativo03   38754 non-null  float64
 14  Ativo04   38754 non-null  float64
 15  Ativo05   38754 non-null  float64
 16  Ativo06   38754 non-null  float64
 17  Ativo07   38754 non-null  float64
 18  Nota1     38754 non-null  float64
 19  Nota2     38754 non-null  float64
 20  Total     38754 non-null  float64
 21  Media     38754 non-null  int64
 22  Dominio   38754 non-null  object
dtypes: float64(11), int64(2), object(10)
memory usage: 6.8+ MB

In [20]:
#7
cadastroFiltrado['NPS'] = cadastroFiltrado['Media'].apply(lambda valor: 'promotor' if valor==80 else ('neutro' if valor < 80 and valor >= 50 else 'detrator'))

cadastroFiltrado

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,45,yahoo.com,detrator
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com,neutro
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,55,yahoo.com,neutro
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,neutro
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,37,gmail.com,detrator
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,85,hotmail.com,detrator
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27,yahoo.com,detrator
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77,gmail.com,neutro
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,39,hotmail.com,detrator

#### 8 - Calcule os seguintes dados
1) Calcule o total investido em cada coluna Ativo (tente usar o apply)
2) Qual o menor valor investido em cada ativo?
3) Mostre a média e desvio padrão de cada ativo
4) Qual o nome e a idade do investidor mais velho?
5) Qual a mediana da coluna Média?

In [21]:
#1
cadastroFiltrado['Total'] = cadastroFiltrado[['Ativo01', 'Ativo02', 'Ativo03', 'Ativo04', 'Ativo05', 'Ativo06', 'Ativo07']].sum(axis=1)
cadastroFiltrado

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,45,yahoo.com,detrator
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com,neutro
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,55,yahoo.com,neutro
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,neutro
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,37,gmail.com,detrator
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,85,hotmail.com,detrator
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27,yahoo.com,detrator
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77,gmail.com,neutro
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,39,hotmail.com,detrator

In [22]:
#2
cadastroFiltrado[['Ativo01', 'Ativo02', 'Ativo03', 'Ativo04', 'Ativo05', 'Ativo06', 'Ativo07']].min()

Ativo01      0.00
Ativo02      0.00
Ativo03      0.00
Ativo04      0.00
Ativo05      0.00
Ativo06      0.00
Ativo07    462.93
dtype: float64

In [23]:
#3
cadastroFiltrado[['Ativo01', 'Ativo02', 'Ativo03', 'Ativo04', 'Ativo05', 'Ativo06', 'Ativo07']].mean()

Ativo01      845.220878
Ativo02     4337.095701
Ativo03     2640.515840
Ativo04    10505.598580
Ativo05     4439.975773
Ativo06     1151.541631
Ativo07      500.052452
dtype: float64

In [24]:
np.std(cadastroFiltrado[['Ativo01', 'Ativo02', 'Ativo03', 'Ativo04', 'Ativo05', 'Ativo06', 'Ativo07']])

C:\Users\Tonisk\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\_core\fromnumeric.py:4109: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Ativo01     524.561757
Ativo02    1909.931254
Ativo03    1204.849149
Ativo04    9084.597495
Ativo05    2068.638915
Ativo06    1172.044060
Ativo07       9.998089
dtype: float64

In [25]:
#4
oi = cadastroFiltrado[(cadastroFiltrado['Idade'] == cadastroFiltrado['Idade'].max())].head(1)
print(oi['Nome'][0], oi['Idade'][0])

Eunice Hellen do Vale 51

In [26]:
#5
cadastroFiltrado['Media'].median()

np.float64(47.0)

#### 9 - Responder as perguntas abaixo

1) Quantos investidores são agressivos, moderados e conservadores?
2) Mostre os 10 primeiros ids dos investidores de perfil Agressivo e Moderado.
3) Quantos investidores são do sexo feminino?
4) Quantos investidores investiram mais de 16000 no Ativo04?
5) Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
6) Quais investidores do sexo feminino tem mais de 25 anos e seu investimento total foi menor que 10000? 


7) Quantos investidores tem em cada estado (dica: use groupby)
8) Qual é a soma do total investido por cada estado?
9) Qual é a média do total investido por promotores, detratores e neutros? E como se dividem nos estados
10) Crie 3 colunas "dummies" do perfil dos investidores


11) Crie uma tabela com total de investimentos de promotores, detratores e neutros em função do perfil. (dica: use pivot_table)

In [27]:
#1
cadastroFiltrado['Perfil'].value_counts()

Perfil
Agressivo      12975
Moderado       12900
Conservador    12879
Name: count, dtype: int64

In [38]:
#2
cadastroFiltrado[cadastroFiltrado['Perfil'] == 'Agressivo']['id'].head(10)

2     id0000003
3     id0000004
5     id0000006
7     id0000008
8     id0000009
9     id0000010
11    id0000012
13    id0000014
15    id0000016
19    id0000020
Name: id, dtype: object

In [39]:
#2
cadastroFiltrado[cadastroFiltrado['Perfil'] == 'Moderado']['id'].head(10)

0     id0000001
1     id0000002
6     id0000007
10    id0000011
14    id0000015
18    id0000019
21    id0000022
23    id0000024
25    id0000026
31    id0000032
Name: id, dtype: object

In [45]:
#3
(cadastroFiltrado['Sexo'] == 'Feminino').sum()

np.int64(19385)

In [47]:
#4
(cadastroFiltrado['Ativo04'] > 16000).sum()

np.int64(10689)

In [48]:
#5
((cadastroFiltrado['Ativo04'] > 1600) & (cadastroFiltrado['Ativo05'] < 5000)).sum()

np.int64(13507)

In [49]:
#6
cadastroFiltrado[(cadastroFiltrado['Sexo'] == 'Feminino') & (cadastroFiltrado['Idade'] > 25) & (cadastroFiltrado['Total'] < 10000)]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
251,id0000252,Lara Adrielle de Lacerda,Feminino,1971-02-28,50,urice@yahoo.com,"(Decimal('79.683002'), Decimal('96.630918'))",Early years teacher,RN,73091.30,Conservador,0.00,4728.88,3886.99,0.0,0.00,0.00,502.21,29.139065,55.511991,9118.08,42,yahoo.com,detrator
439,id0000440,Ediane Preto,Feminino,1991-11-02,30,waterskendra@yahoo.com,"(Decimal('-66.4694655'), Decimal('-145.233678'))","Administrator, charities/voluntary organisations",RR,364.06,Conservador,1383.75,0.00,0.00,0.0,5562.27,2425.96,494.25,47.304547,49.119204,9866.23,48,yahoo.com,detrator
468,id0000469,Fernanda Ribeiro,Feminino,1973-04-07,48,robinsonnicole@yahoo.com,"(Decimal('-70.1687715'), Decimal('-45.359881'))",Occupational psychologist,SC,668.54,Conservador,1276.29,0.00,3288.32,0.0,4062.51,0.00,506.63,66.312403,98.928013,9133.75,83,yahoo.com,detrator
561,id0000562,Samila Kátia da Silva Omaman,Feminino,1987-05-24,34,yortiz@gmail.com,"(Decimal('-18.6370725'), Decimal('-54.972713'))",Animal nutritionist,PB,0.21,Agressivo,0.00,4612.19,4144.15,0.0,0.00,0.00,502.31,20.016109,53.418491,9258.65,37,gmail.com,detrator
595,id0000596,Neila de Diniz Meimniov Trevisan,Feminino,1977-01-06,44,kathryn73@hotmail.com,"(Decimal('17.146431'), Decimal('75.109201'))",Lobbyist,RR,56.14,Moderado,1335.20,0.00,2962.80,0.0,4941.76,0.00,486.44,0.000000,27.056029,9726.20,14,hotmail.com,detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38358,id0038359,Sâmia Célia Razucrias Souto,Feminino,1973-08-17,48,yatesjon@yahoo.com,"(Decimal('-8.7342045'), Decimal('11.828290'))",Information systems manager,AL,86626.95,Conservador,0.00,4930.76,2591.41,0.0,0.00,0.00,512.30,69.089325,9.319279,8034.47,39,yahoo.com,detrator
38383,id0038384,Solange Rugin,Feminino,1991-02-08,30,ugarcia@hotmail.com,"(Decimal('20.8531325'), Decimal('-34.315147'))",Health visitor,RO,2615.57,Moderado,0.00,4871.78,0.00,0.0,4324.30,0.00,494.58,6.280901,13.826658,9690.66,10,hotmail.com,detrator
38475,id0038476,Lidiane Castelo,Feminino,1991-08-10,30,natasha35@hotmail.com,"(Decimal('-13.801224'), Decimal('140.798066'))",Animal technologist,PR,50999.51,Agressivo,0.00,4899.29,3121.04,0.0,0.00,0.00,495.89,39.133869,85.697660,8516.22,62,hotmail.com,neutro
38667,id0038668,Cristina Grusty,Feminino,1990-11-26,31,valeriegonzalez@yahoo.com,"(Decimal('45.738813'), Decimal('98.988448'))","Psychotherapist, child",AL,77.32,Agressivo,989.34,4927.98,0.00,0.0,0.00,0.00,499.43,17.466261,38.307003,6416.75,28,yahoo.com,detrator
38719,id0038720,Beatriz Hesawa de Bezerra,Feminino,1986-09-17,35,bsaunders@gmail.com,"(Decimal('-17.3111315'), Decimal('-148.280401'))",Museum/gallery exhibitions officer,RJ,292.35,Moderado,963.52,0.00,2745.18,0.0,0.00,2009.35,481.71,34.329015,7.923016,6199.76,21,gmail.com,detrator

In [50]:
#7
cadastroFiltrado.groupby('Estado').size()

Estado
AC    1435
AL    1376
AM    1495
AP    1438
BA    1484
CE    1465
DF    1470
ES    1472
GO    1394
MA    1454
MG    1407
MS    1436
MT    1390
PA    1421
PB    1405
PE    1477
PI    1503
PR    1371
RJ    1466
RN    1472
RO    1440
RR    1495
RS    1393
SC    1430
SE    1319
SP    1464
TO    1382
dtype: int64

In [52]:
#8
cadastroFiltrado.groupby('Estado')['Total'].sum(0)

Estado
AC    35362505.80
AL    33763479.45
AM    37036424.81
AP    34996432.12
BA    36188507.51
CE    35959807.36
DF    36277409.37
ES    36112618.12
GO    34234860.26
MA    34952752.65
MG    33820223.17
MS    35279491.41
MT    34206427.27
PA    34877463.97
PB    34248820.05
PE    35353945.12
PI    37038930.90
PR    33002424.19
RJ    35910946.83
RN    35755623.32
RO    34341430.55
RR    36543504.21
RS    34300026.29
SC    35223280.67
SE    32496697.65
SP    35624582.45
TO    33464097.56
Name: Total, dtype: float64

In [57]:
#9
cadastroFiltrado.groupby(['NPS', 'Estado'])['Total'].mean()

NPS       Estado
detrator  AC        24742.483865
          AL        24541.192976
          AM        25024.240885
          AP        24388.016856
          BA        24450.997222
                        ...
promotor  RS        26048.518750
          SC        25613.768333
          SE        24029.900714
          SP        26260.455714
          TO        26188.812000
Name: Total, Length: 81, dtype: float64

In [59]:
#10
pd.get_dummies(cadastroFiltrado['Perfil'], prefix='Perfil')

       Perfil_Agressivo  Perfil_Conservador  Perfil_Moderado
0                 False               False             True
1                 False               False             True
2                  True               False            False
3                  True               False            False
4                 False                True            False
...                 ...                 ...              ...
38749             False               False             True
38750             False               False             True
38751              True               False            False
38752             False                True            False
38753             False               False             True

[38754 rows x 3 columns]

In [60]:
#11
pd.pivot_table(cadastroFiltrado, values='Total', index='NPS', columns='Perfil', aggfunc='sum')

Perfil       Agressivo   Conservador      Moderado
NPS
detrator  1.963975e+08  1.973221e+08  1.939005e+08
neutro    1.194902e+08  1.151784e+08  1.174519e+08
promotor  2.296877e+06  1.730325e+06  2.604929e+06