In [162]:
import pandas as pd
import datetime as dt
pd.options.display.max_columns = 35 
#para aumentar a quantidade de colunas a serem visualizadas

### Exercicios:

#### 1 - Carregar os arquivos de cadastro, investimento1 e investimento2, e mostrar a quantidade de linhas de cada um, além das informações desses dataframes (por exemplo, o tipo dos dados das coluna)

In [163]:
urls = ["https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/cadastro.csv",
        "https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/investimento_parte1.csv",
        "https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/investimento_parte2.csv"]

In [ ]:
cadastro = pd.read_csv(urls[0])
#investimento1.shape[0]
cadastro.info()

In [ ]:
investimento2 = pd.read_csv(urls[1])
investimento2.info()

In [ ]:
investimento3 = pd.read_csv(urls[2])
investimento3.info()

#### 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

Criar um novo dataframe  
Dica: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
investimentoUmDois = pd.concat([investimento2, investimento3])
investimentoUmDois

#### 3 - Crie um novo dataframe eliminando as linhas duplicadas do item anterior

In [ ]:
semDuplicata = investimentoUmDois.drop_duplicates()
semDuplicata

#### 4 - Junte o dataframe de investimento com o de cadastro, criando um novo dataframe
Dica: use a coluna id como chave para juntar os dois dataframes

In [ ]:
cadastroInvestimento = cadastro.merge(semDuplicata)
cadastroInvestimento

#### 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [ ]:
cadastroInvestimento.reset_index()

#### 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [ ]:
cadastroInvestimento.isna().sum()

In [ ]:
cadastroInvestimento.isna().sum() / len(cadastroInvestimento) * 100

In [ ]:
cadastroFiltrado = cadastroInvestimento.fillna(0)
cadastroFiltrado.isna().sum()

#### 7 - Manipule os dados a seguir:
1) Criar coluna "Total" somando o valor de todos os ativos por investidor
2) Criar coluna "Media" com a média das notas 1 e 2
3) Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
4) Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
5) Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar a função map)
6) Transformar os dados da coluna Media em inteiro
7) Criar coluna "NPS" onde o investidor é classificado como promotor se a média das notas é maior ou igual a 80, como neutro se a média estiver entre 50 e 80, e como detrator se for abaixo de 50

In [ ]:
#1
cadastroFiltrado['Total'] = cadastroFiltrado[['Ativo01', 'Ativo02', 'Ativo03', 'Ativo04', 'Ativo05', 'Ativo06', 'Ativo07']].sum(axis=1)
cadastroFiltrado

In [ ]:
#2
cadastroFiltrado['Media'] = cadastroFiltrado[['Nota1', 'Nota2']].mean(axis=1)
cadastroFiltrado

In [ ]:
#3
lista = cadastroFiltrado['Email'].str.split(pat="@")

cadastroFiltrado['Dominio'] = [array[:][1]for array in lista]
cadastroFiltrado

In [ ]:
#4
cadastroFiltrado.rename(columns={'Renda': 'Salario'}, inplace=True)
cadastroFiltrado['Salario'] = cadastroFiltrado['Salario'].str.replace('$', '')
cadastroFiltrado['Salario'] = cadastroFiltrado['Salario'].astype(float)
cadastroFiltrado.info()

In [ ]:
#5
cadastroFiltrado['Sexo'] = cadastroFiltrado['Sexo'].str.lower()
cadastroFiltrado['Sexo'] = cadastroFiltrado['Sexo'].map({'fem': 'Feminino','masc': 'Masculino'})
cadastroFiltrado

In [210]:
#6
cadastroFiltrado['Media'] = cadastroFiltrado['Media'].round(0).astype(int)
cadastroFiltrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
 9   Salario   38754 non-null  float64
 10  Perfil    38754 non-null  object
 11  Ativo01   38754 non-null  float64
 12  Ativo02   38754 non-null  float64
 13  Ativo03   38754 non-null  float64
 14  Ativo04   38754 non-null  float64
 15  Ativo05   38754 non-null  float64
 16  Ativo06   38754 non-null  float64
 17  Ativo07   38754 non-null  float64
 18  Nota1     38754 non-null  float64
 19  Nota2     38754 non-null  float64
 20  Total     38754 non-null  float64
 21  Media     38754 non-null  int64
 22  Dominio   38754 non-null  object
dtypes: float64(11), int64(2), object(10)
memory usage: 6.8+ MB

In [231]:
#7
cadastroFiltrado['NPS'] = cadastroFiltrado['Media'].apply(lambda valor: 'promotor' if valor==80 else ('neutro' if valor < 80 and valor >= 50 else 'detrator'))

cadastroFiltrado

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,45,yahoo.com,detrator
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com,neutro
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,55,yahoo.com,neutro
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,neutro
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,37,gmail.com,detrator
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,85,hotmail.com,detrator
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27,yahoo.com,detrator
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77,gmail.com,neutro
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,39,hotmail.com,detrator

#### 8 - Calcule os seguintes dados
1) Calcule o total investido em cada coluna Ativo (tente usar o apply)
2) Qual o menor valor investido em cada ativo?
3) Mostre a média e desvio padrão de cada ativo
4) Qual o nome e a idade do investidor mais velho?
5) Qual a mediana da coluna Média?

In [181]:
#1

In [182]:
#2

In [183]:
#3

In [184]:
#4

In [185]:
#5

#### 9 - Responder as perguntas abaixo

1) Quantos investidores são agressivos, moderados e conservadores?
2) Mostre os 10 primeiros ids dos investidores de perfil Agressivo e Moderado.
3) Quantos investidores são do sexo feminino?
4) Quantos investidores investiram mais de 16000 no Ativo04?
5) Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
6) Quais investidores do sexo feminino tem mais de 25 anos e seu investimento total foi menor que 10000? 


7) Quantos investidores tem em cada estado (dica: use groupby)
8) Qual é a soma do total investido por cada estado?
9) Qual é a média do total investido por promotores, detratores e neutros? E como se dividem nos estados
10) Crie 3 colunas "dummies" do perfil dos investidores


11) Crie uma tabela com total de investimentos de promotores, detratores e neutros em função do perfil. (dica: use pivot_table)

In [186]:
#1

In [187]:
#2

In [188]:
#3

In [189]:
#4

In [190]:
#5

In [191]:
#6

In [192]:
#7

In [193]:
#8

In [194]:
#9

In [195]:
#10

In [196]:
#11

#### Bonus - Leitura de Arquivos Grandes