In [1]:
import numpy as np
import pandas as pd

### Exercicios:

**Bora praticar!**
  
#### 1) Utilizando o DataFrame importado anteriormente (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [2]:
df_notas = pd.read_csv('alunos3.csv', sep=';')

In [3]:
colunas = ['Prova_1', 'Prova_2', 'Prova_3']
df_notas[colunas] = df_notas[colunas].apply(lambda x: x.str.replace(',', '.').astype(float))
df_notas['Prova_4'] = df_notas['Prova_4'].astype(float)

df_notas['Media_provas'] = df_notas[['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']].mean(axis=1)
df_notas

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6.0,7.000
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8.0,7.250
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7.0,7.000
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10.0,9.000
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7.0,7.000
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8.0,7.500
6,110301,Joao Galo,20,5.0,6.5,7.0,5.0,5.875
7,110263,José Valente,20,10.0,10.0,10.0,10.0,10.000
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10.0,8.625
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8.0,8.000

#### 2) Quem foram os alunos que obtiveram a maior e a menor média

In [4]:
maior = df_notas.loc[df_notas['Media_provas'].idxmax()]
menor = df_notas.loc[df_notas['Media_provas'].idxmin()]

In [5]:
print(f'Aluno com a maior média: {maior}')
print(f'\nAluno com a menor média: {menor}')

Aluno com a maior média: RA                    110263
Nome            José Valente
Frequencia                20
Prova_1                 10.0
Prova_2                 10.0
Prova_3                 10.0
Prova_4                 10.0
Media_provas            10.0
Name: 7, dtype: object

Aluno com a menor média: RA                 110301
Nome            Joao Galo
Frequencia             20
Prova_1               5.0
Prova_2               6.5
Prova_3               7.0
Prova_4               5.0
Media_provas        5.875
Name: 6, dtype: object

#### 3) Agora una este dataframe com o cadastro_alunos.xlsx

In [6]:
df_cadastro = pd.read_excel('cadastro_alunos.xlsx')

In [7]:
df_mergido = pd.merge(df_notas, df_cadastro, on='RA')
df_mergido

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas,Cidade,Sexo,Idade
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6.0,7.000,São Paulo,Masculino,15
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8.0,7.250,Rio de Janeiro,Feminino,20
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7.0,7.000,Rio de Janeiro,Masculino,18
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10.0,9.000,Belo Horizonte,Masculino,39
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7.0,7.000,Belo Horizonte,Feminino,22
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8.0,7.500,Rio de Janeiro,Feminino,17
6,110301,Joao Galo,20,5.0,6.5,7.0,5.0,5.875,Belo Horizonte,Masculino,26
7,110263,José Valente,20,10.0,10.0,10.0,10.0,10.000,Belo Horizonte,Masculino,31
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10.0,8.625,São Paulo,Feminino,29
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8.0,8.000,São Paulo,Feminino,16

#### 4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

In [8]:
mediaSexo = df_mergido.groupby('Sexo')['Media_provas'].mean()
mediaSexo

Sexo
Feminino     7.675
Masculino    7.775
Name: Media_provas, dtype: float64

#### 5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

In [9]:
df_maior7 = df_mergido[df_mergido['Media_provas'] >= 7]
media_maior7 = df_maior7['Idade'].mean()
media_maior7

np.float64(23.0)

#### 6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

In [10]:
mediaCidade = pd.Series(df_mergido.groupby('Cidade')['Media_provas'].mean())
mediaCidade = pd.DataFrame(mediaCidade).reset_index()
mediaCidade.columns = ['Cidade', 'Media_provas']
media_filtrado = mediaCidade.sort_values('Media_provas', ascending=False).head(1)
media_filtrado

           Cidade  Media_provas
0  Belo Horizonte       7.96875